@model IEnumerable<NewsEntity>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@{
    ViewData["Title"] = "Home Page";
}

<script>
    $(document).ready(function () {
        // Funzione per far avanzare automaticamente il carousel
        function avanzareCarousel() {
            $('.carousel').carousel('next');
        }

        // Imposta l'intervallo per far avanzare automaticamente il carousel ogni 3 secondi
        var intervalloCarousel = setInterval(avanzareCarousel, 5000); 

        // Interrompe l'intervallo quando il mouse entra nel carousel
        $('.carousel').mouseenter(function () {
            clearInterval(intervalloCarousel);
        });

        // Riavvia l'intervallo quando il mouse esce dal carousel
        $('.carousel').mouseleave(function () {
            intervalloCarousel = setInterval(avanzareCarousel, 5000); 
        });
    });
</script>



@if (String.IsNullOrEmpty(@Accessor.HttpContext?.Session.GetString("UserID")))
{

    <div class="Container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <center>
                    <Titolo>SpicyLand</Titolo>
                </center>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

    @if (Model.Where(x => x.InPrimoPiano == true).ToList().Any())
    {
        <div class="Container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
                        <div class="carousel-inner">
                            @foreach (var x in Model)
                            {
                                @if (x.InPrimoPiano)
                                {
                                    <div class="carousel-item @(x.NewsID == Model.FirstOrDefault(y=>y.InPrimoPiano==true).NewsID ? "active" : "")">
                                        <a asp-area="" asp-controller="Home" asp-action="News">
                                            <img src="@Url.Content(@x.ImmaginePath)" class="d-block w-100" alt="@x.TitoloNotizia">
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
    }
    <div class="Container">
        <div class="row">
            <div class="col-md-12 bg-opacity-50">
                <MiniTitolo>Notizie</MiniTitolo>
                <div class="card">
                    <ul class="list-unstyled card-body">
                        @if (Model.Where(x => x.Visibile == true).ToList().Any())
                        {
                            @foreach (var x in Model)
                            {
                                <li class="media">
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">@x.TitoloNotizia</h5>
                                        (@x.DataInserimento)
                                        <br />
                                        <div class="row">
                                            <div class="col-md-4">
                                                @x.Occhiello
                                            </div>
                                            <div class="col-md-6"></div>
                                            <div class="col-md-2"> <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="News">Vai alle Notizie</a></div>
                                        </div>
                                    </div>
                                </li>

                                <hr />
                            }
                        }
                        else
                        {
                            <li class="media">
                                <div class="media-body">
                                    <p style="color:black">Nessuna notizia presente</p>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

}
else
{
    <Titolo>Ciao, @Accessor.HttpContext?.Session.GetString("UserName")</Titolo>
}