@model NewsEntity
<script>
    $('#modalTitle').text(document.getElementById("Nome").title);
</script>

<img class="card-img-top imgres" src="@Url.Action("GetImageNews", "Home", new { NewsID = @Model.NewsID })" alt="Card image cap">
<p style="display:none" id="Nome" title="@Model.TitoloNotizia"></p>
<p>@Model.DataInserimento</p>
<p>@Model.Occhiello</p>
<p>@Model.CorpoNotizia</p>
